/*  your css code here. If applicable */
#outer{
display:flex;
height:300px;
width:300px;
justify-content:center;
align-items:center;
background-color:#ffa500;
border-radius:50%;
border:25px solid #ff0000;
}
#middle{
	display:flex;
	justify-content:center;
	align-items:center;
	height:200px;
	width:200px;
	border-radius:50%;
	border:25px solid #ffff00;
	background-color:#008000;
}
#inner{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:#800080;
	border:25px solid #0000ff;
}